NEXT_PUBLIC_APP_NAME=ANT PRESS
NEXT_PUBLIC_APP_TAGLINE=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_CONTACT_LOCATION=
NEXT_PUBLIC_API_URL=https://ant-presby-backend.onrender.com/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
